body{
    background-image: url("https://img.freepik.com/premium-vector/night-sky-background-with-stars_104785-147.jpg");
    color: aliceblue;
}

.quote{
    color: aliceblue;
    text-align: center;
    border-radius: 20px;
    font-size: medium;
}

#city{
    border-color: darkgrey;
}

#cityName{
    /* background-color: thistle;
    border-radius: 20px; */
    color: aliceblue;
}

.nav{
    color: white;
}